@charset "UTF-8";
/* variables */
/* Estilo contacto */
/* Estilo formulario de contacto */
.body-contacto {
  background: rgb(34, 193, 195);
  background: linear-gradient(0deg, rgb(34, 193, 195) 0%, rgb(206, 253, 45) 100%);
}

.seccion-contacto {
  display: flex;
  justify-content: center;
  align-items: center;
}
.seccion-contacto .card-body {
  background: rgb(34, 193, 195);
  background: linear-gradient(0deg, rgb(34, 193, 195) 0%, rgb(206, 253, 45) 100%);
  width: 100%;
  height: 100%;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-bottom: 15px;
  border: solid;
}
.seccion-contacto .card-body h5 {
  font-size: 3rem;
  border-bottom: solid;
}
.seccion-contacto .card-body h6 {
  font-size: 2rem;
}
.seccion-contacto .card-body .card-text {
  font-size: 1.5rem;
}

.section-formulario {
  background: rgb(34, 193, 195);
  background: linear-gradient(0deg, rgb(34, 193, 195) 0%, rgb(206, 253, 45) 100%);
  width: 100%;
  height: 100%;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 15px;
  border: solid;
}
.section-formulario .form-contacto .mb-3 .label-contacto {
  border-bottom: solid;
  margin: 10px;
  display: block;
  font-size: 1.5em;
  font-family: "Chakra Petch", sans-serif;
  font-family: "Permanent Marker", cursive;
}
.section-formulario .form-contacto .mb-3 .label-contacto .form-text {
  font-size: 1em;
}

/* Estilado de las imágenes QR */
.section-Redes, .section-Redes .div_redes .card_contacto {
  background-color: #1E8449;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 0px;
}
.section-Redes h2, .section-Redes .div_redes .card_contacto h2 {
  align-content: flex-start;
  align-self: flex-start;
  font-size: 3rem;
  border: inset;
  border-color: black;
  border-radius: 10px;
  background-color: #58C0B6;
  margin: auto;
  margin-top: 10px;
}
.section-Redes .div_redes, .section-Redes .div_redes .card_contacto .div_redes {
  display: flex;
  align-self: center;
}
.section-Redes .div_redes .card_contacto {
  max-width: 400px;
  margin: 10px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.section-Redes .div_redes .card_contacto .card-img-top-mail {
  margin-bottom: 12px;
}
.section-Redes .div_redes .card_contacto img {
  border-radius: 10px;
  border: solid;
  width: 100%;
  height: 100%;
}
.section-Redes .div_redes .card_contacto .card-body {
  font-size: 1rem;
  color: black;
  width: 100%;
  height: 100%;
}
.section-Redes .div_redes .card_contacto .card-body p {
  margin-top: 12px;
  margin-bottom: 12px;
  width: 100%;
  height: 100%;
}
.section-Redes .div_redes .card_contacto .card-body p a {
  color: azure;
  font-size: 1.6rem;
  text-decoration: none;
  padding: 10px;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 600px) {
  .seccion-contacto {
    flex-direction: column;
  }
  .seccion-contacto .card-body {
    max-width: 400px;
    max-height: 100%;
  }
  .section-formulario {
    max-width: 400px;
    max-height: 100%;
  }
  /* Estilado de las imágenes QR */
  .section-Redes, .section-Redes .div_redes .card_contacto {
    flex-direction: column;
    align-items: flex-end;
  }
  .section-Redes .h2_sectionRedes, .section-Redes .div_redes .card_contacto .h2_sectionRedes {
    max-width: 400px;
    max-height: 100%;
  }
  .section-Redes .div_redes, .section-Redes .div_redes .card_contacto .div_redes {
    flex-direction: column;
  }
  .section-Redes .div_redes .card_contacto {
    margin: auto;
  }
}
/* Maquetación footer */
footer {
  background-color: #000;
  padding: 10px;
}

.card-body {
  background-color: #1E8449;
  border-radius: 10px;
}

.card {
  background-color: #000;
}

.boton-footer {
  text-decoration: none;
  color: aliceblue;
}

/* Maquetación Index */
.body-index {
  background-color: #1E736C;
  padding-bottom: 0px;
  margin-bottom: 0px;
  width: 100%;
  height: 100%;
}

.section-trabajosPersonalizados {
  padding-bottom: 0px;
  margin-bottom: 0px;
  width: 100%;
  height: 100%;
}

.container-fluid {
  background-color: #1E736C;
  margin: 0px;
  padding: 0px;
}

.navbar-brand {
  font-family: "Chakra Petch", sans-serif;
  box-sizing: content-box;
  padding: 0px;
  margin: 0px;
  margin-top: 0px;
  border-radius: 0.5rem;
  background-color: #58C0B6;
}

.nav-link {
  font-size: 10px;
}

.navbar-brand:hover {
  font-weight: 400px;
}

.nav-link:hover {
  background-color: #58C0B6;
  font-weight: bold;
  border-radius: 10Px;
}

.nav-item {
  background-color: #08D5A3;
  font-family: "Chakra Petch", sans-serif;
  text-decoration: none;
  font-size: 1.5rem;
  box-sizing: content-box;
  padding: 0;
  margin: 2px 2px;
  border-radius: 0.5rem;
}

.d-flex {
  margin: auto;
  padding: auto;
}

/* Estilo imágenes */
.producto {
  background-size: contain;
  max-width: 100%;
  max-height: 100%;
}

img[alt=banner] {
  width: 1200px;
  margin: auto;
  box-sizing: 100vh;
  display: flex;
  border-radius: 1em;
  object-fit: scale-down;
  background-size: contain;
}

img[alt=banner-query] {
  display: none;
  width: 400px;
  align-self: center;
  margin: auto;
  box-sizing: 100vh;
  border-radius: 1em;
  object-fit: scale-down;
  background-size: contain;
}

/* Query banner */
@media screen and (max-width: 1000px) {
  img[alt=banner-query] {
    display: flex;
    align-self: center;
    margin: auto;
    box-sizing: 100vh;
    border-radius: 1em;
    object-fit: scale-down;
    background-size: contain;
  }
  .bannerImg {
    display: none;
  }
}
img[alt=billetera] {
  position: relative;
  width: 287px;
  margin: 10px;
  border-style: solid;
  border-radius: 10%;
  object-fit: cover;
}

img[alt=botella] {
  position: relative;
  width: 287px;
  margin: 10px;
  border-style: solid;
  border-radius: 10%;
}

img[alt=buzo] {
  position: relative;
  width: 255px;
  margin: 10px;
  border-style: solid;
  border-radius: 10%;
}

img[alt=taza] {
  position: relative;
  width: 210px;
  margin: 10px;
  border-style: solid;
  border-radius: 10%;
}

img[alt=mousepad] {
  position: relative;
  width: 720px;
  margin: 10px;
  border-style: solid;
  border-radius: 10%;
}

img[alt=mousepadMini] {
  position: relative;
  width: 300px;
  margin: 10px;
  border-style: solid;
  border-radius: 10%;
}

img[alt=remera] {
  position: relative;
  width: 490px;
  margin: 10px;
  border-style: solid;
  border-radius: 10%;
}

img[alt=vaso] {
  position: relative;
  width: 360px;
  margin: 10px;
  border-style: solid;
  border-radius: 10%;
}

/* Query imágenes */
@media screen and (max-width: 450px) {
  img[alt=billetera] {
    position: relative;
    width: 390px;
    margin: 10px;
    border-style: solid;
    border-radius: 10%;
    object-fit: cover;
  }
  img[alt=botella] {
    position: relative;
    width: 390px;
    margin: 10px;
    border-style: solid;
    border-radius: 10%;
  }
  img[alt=buzo] {
    position: relative;
    width: 390px;
    margin: 10px;
    border-style: solid;
    border-radius: 10%;
  }
  img[alt=taza] {
    position: relative;
    width: 390px;
    margin: 10px;
    border-style: solid;
    border-radius: 10%;
  }
  img[alt=mousepad] {
    width: 390px;
    position: relative;
    margin: 10px;
    border-style: solid;
    border-radius: 10%;
    background-size: contain;
  }
  img[alt=mousepadMini] {
    position: relative;
    width: 390px;
    margin: 10px;
    border-style: solid;
    border-radius: 10%;
  }
  img[alt=remera] {
    position: relative;
    width: 390px;
    margin: 10px;
    border-style: solid;
    border-radius: 10%;
  }
  img[alt=vaso] {
    width: 390px;
    margin: 10px;
    border-style: solid;
    border-radius: 10%;
  }
}
/* Personalización del texto-Index */
.col h1 {
  border: solid;
  border-radius: 10px;
  margin-top: 10px;
  background-color: #08D5A3;
  padding-bottom: 10px;
  padding-left: 10px;
}

.col p {
  font-size: 1.4rem;
  padding-left: 10px;
  background-color: #1E8449;
  display: flex;
  align-content: center;
}

/* Personalización de Trabajos personalizados */
/* Carousel de imagenes */
.section-trabajosPersonalizados {
  background-color: #1E736C;
}

.section-carusel {
  display: flex;
  background-color: #1E736C;
  padding: 0rem;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.carousel-inner {
  max-width: 400px;
  align-content: center;
  margin: auto;
  margin-top: 0Px;
}

.carousel {
  width: 600px;
  margin: auto;
  padding-bottom: 0px;
}

.carousel-item {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
}

img[alt=imagen-carousel] {
  width: 100px;
  margin: 0px;
  border: solid;
}

.label-personalizados {
  margin-bottom: 10px;
  font-size: 1.5rem;
  border: groove;
  background-color: #58C0B6;
}

.imagen-carousel .img2 {
  width: 10px;
}

/* Query Carrousel */
@media screen and (max-width: 600px) {
  .section-carusel {
    max-width: 410px;
    margin: auto;
    align-items: center;
    align-content: center;
  }
  #carouselExampleFade div {
    width: 400px;
    align-items: center;
    align-items: center;
  }
  .footer {
    align-items: flex-end;
    align-content: flex-end;
  }
}
.Texto-Trabajos {
  font-size: 24px;
  border: solid;
  border-radius: 10px;
  background-color: #08D5A3;
  text-decoration: none;
  padding-left: 5px;
}

.Texto-Trabajos a {
  text-decoration: none;
}

.Texto-Trabajos:hover {
  background-color: #1E8449;
}

/* Productos flex */
.section-quienesSomos {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
  height: 100%;
  background-color: #08D5A3;
}

.section-quienesSomos p {
  background-color: #08D5A3;
  align-items: center;
  align-content: center;
  flex: grow 1;
  font-size: 2rem;
  flex-basis: 10px;
  font-family: "Chakra Petch", sans-serif;
  font-family: "Permanent Marker", cursive;
}

.section-quienesSomos .video {
  align-items: center;
  align-content: center;
  background-color: #08D5A3;
  align-self: center;
  width: 100rem;
  border-radius: 20px;
  margin-bottom: 10px;
}

@media screen and (min-width: 400px) {
  .section-quienesSomos video {
    max-width: 400px;
    order: 1;
    margin-top: 0px;
  }
  .section-quienesSomos p {
    font-size: 27.72px;
    order: 2;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

/*# sourceMappingURL=Style.css.map */
