@charset "UTF-8";
/* variables */
/* Estilo contacto */
/* Estilo formulario de contacto */
.body-contacto {
  background: rgb(34, 193, 195);
  background: linear-gradient(0deg, rgb(34, 193, 195) 0%, rgb(206, 253, 45) 100%);
}

.seccion-contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(34, 193, 195);
  background: linear-gradient(0deg, rgb(34, 193, 195) 0%, rgb(206, 253, 45) 100%);
}
.seccion-contacto .card-body {
  background: rgb(34, 193, 195);
  background: linear-gradient(0deg, rgb(34, 193, 195) 0%, rgb(206, 253, 45) 100%);
  width: 100%;
  height: 100%;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-bottom: 15px;
  border: solid;
}
.seccion-contacto .card-body h5 {
  font-size: 3rem;
  border-bottom: solid;
}
.seccion-contacto .card-body h6 {
  font-size: 2rem;
}
.seccion-contacto .card-body .card-text {
  font-size: 1.5rem;
}

.section-formulario {
  background: rgb(34, 193, 195);
  background: linear-gradient(0deg, rgb(34, 193, 195) 0%, rgb(206, 253, 45) 100%);
  width: 100%;
  height: 100%;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 15px;
  border: solid;
}
.section-formulario .form-contacto .mb-3 .label-contacto {
  border-bottom: solid;
  margin: 10px;
  display: block;
  font-size: 1.5em;
}
.section-formulario .form-contacto .mb-3 .label-contacto .form-text {
  font-size: 1em;
}

/* Estilado de las imágenes QR */
.section-Redes, .section-Redes .div_redes .card_contacto {
  background-color: #1E8449;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 0px;
}
.section-Redes h2, .section-Redes .div_redes .card_contacto h2 {
  align-content: flex-start;
  align-self: flex-start;
  font-size: 3rem;
  border: inset;
  border-color: black;
  border-radius: 10px;
  background-color: #58C0B6;
  margin: auto;
  margin-top: 10px;
}
.section-Redes .div_redes, .section-Redes .div_redes .card_contacto .div_redes {
  display: flex;
  align-self: center;
}
.section-Redes .div_redes .card_contacto {
  max-width: 400px;
  margin: 10px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.section-Redes .div_redes .card_contacto .card-img-top-mail {
  margin-bottom: 12px;
}
.section-Redes .div_redes .card_contacto img {
  border-radius: 10px;
  border: solid;
  width: 100%;
  height: 100%;
}
.section-Redes .div_redes .card_contacto .card-body {
  font-size: 1rem;
  color: black;
  width: 100%;
  height: 100%;
}
.section-Redes .div_redes .card_contacto .card-body p {
  margin-top: 12px;
  margin-bottom: 12px;
  width: 100%;
  height: 100%;
}
.section-Redes .div_redes .card_contacto .card-body p a {
  color: white;
  font-size: 1.6rem;
  text-decoration: none;
  padding: 10px;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 600px) {
  .seccion-contacto {
    flex-direction: column;
  }
  .seccion-contacto .card-body {
    max-width: 600px;
    max-width: 98%;
    max-height: 100%;
  }
  .section-formulario {
    max-width: 600px;
    max-width: 98%;
    max-height: 100%;
  }
  /* Estilado de las imágenes QR */
  .section-Redes, .section-Redes .div_redes .card_contacto {
    flex-direction: column;
    align-items: flex-end;
  }
  .section-Redes .h2_sectionRedes, .section-Redes .div_redes .card_contacto .h2_sectionRedes {
    max-width: 600px;
    max-height: 100%;
    max-width: 98%;
  }
  .section-Redes .div_redes, .section-Redes .div_redes .card_contacto .div_redes {
    flex-direction: column;
    max-width: 600px;
    max-width: 98%;
  }
  .section-Redes .div_redes .card_contacto {
    margin: auto;
    max-width: 600px;
  }
}
.bannerGif {
  width: 100%;
  max-width: 700px;
  margin: auto;
}
.bannerGif img[alt="Imagen lord Of The Ring"] {
  width: 100%;
  max-width: 100%;
  object-fit: fill;
  border: solid;
  border-radius: 10px;
}

/* Maquetación footer */
footer {
  background-color: #000;
  padding: 10px;
}

.card-body {
  background-color: #1E8449;
  border-radius: 10px;
}

.card {
  background-color: #000;
}

.boton-footer {
  text-decoration: none;
  color: aliceblue;
}

.body-index {
  background-image: url(../Imagenes/LOTR.gif);
  background-size: auto;
}

.banner img[alt=banner] {
  width: 1200px;
  margin: auto;
  box-sizing: 100vh;
  display: flex;
  border-radius: 1em;
  object-fit: scale-down;
  background-size: contain;
}
.banner img[alt=banner-query] {
  display: none;
  width: 400px;
  align-self: center;
  margin: auto;
  box-sizing: 100vh;
  border-radius: 1em;
  object-fit: scale-down;
  background-size: contain;
}

.productosIndex {
  max-width: 96%;
  margin: auto;
  margin-top: 5px;
  max-width: 96%;
  margin: auto;
  margin-top: 5px;
}
.productosIndex .productoTitulo {
  background: rgb(34, 193, 195);
  background: linear-gradient(0deg, rgb(34, 193, 195) 0%, rgb(206, 253, 45) 100%);
  width: fit-content;
  padding: 3px;
  max-width: 100%;
  margin-left: 2px;
  font-size: 1.2rem;
  border-bottom: solid;
  border-right: solid;
  font-family: "Chakra Petch", sans-serif;
  font-family: "Permanent Marker", cursive;
}
.productosIndex .indexDescription {
  width: 100%;
  margin: auto;
  max-width: fit-content;
  padding: 3px;
  margin-left: 2px;
  font-size: 1.2rem;
  font-family: "Chakra Petch", sans-serif;
  font-family: "Permanent Marker", cursive;
  margin-bottom: 20px;
}

.ImagenesIndex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cardProducto {
  display: flex;
  font-family: "Raleway", Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  max-width: 550px;
  width: 100%;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  background-color: #000000;
  object-fit: fill;
}
.cardProducto img {
  max-width: 100%;
  width: 100%;
  backface-visibility: hidden;
  vertical-align: center;
  opacity: 0.9;
  object-fit: cover;
}
.cardProducto .titleIndex {
  position: absolute;
  top: 58%;
  left: 25px;
  padding: 5px 10px 10px;
}
.cardProducto .titleIndex:before {
  top: 0;
  left: 10px;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
.cardProducto .titleIndex:after {
  bottom: 0;
  right: 10px;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
.cardProducto .titleIndex div:before {
  top: 10px;
  right: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
.cardProducto .titleIndex div:after {
  bottom: 10px;
  left: 0;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
.cardProducto .cardTitulo {
  font-weight: 400;
  border: solid;
  background-color: #000000;
  padding: 3px;
}
.cardProducto .cardDescription {
  display: block;
  font-weight: 700;
  background-color: #ffffff;
  padding: 5px 10px;
  color: #000000;
}
.cardProducto figcaption {
  position: absolute;
  bottom: 42%;
  left: 25px;
  text-align: left;
  opacity: 0;
  padding: 5px 60px 5px 10px;
  font-size: 0.8em;
  font-weight: 500;
  letter-spacing: 1.5px;
}
.cardProducto figcaption p {
  margin: 0;
}
.cardProducto a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.cardProducto *,
.cardProducto *:before,
.cardProducto *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.55s ease;
  transition: all 0.55s ease;
}

.cardProducto .titleIndex:before,
.cardProducto .titleIndex:after {
  height: 2px;
  width: 400px;
  position: absolute;
  content: "";
  background-color: #ffffff;
}

.cardProducto .titleIndex div:before,
.cardProducto .titleIndex div:after {
  width: 2px;
  height: 300px;
  position: absolute;
  content: "";
  background-color: #ffffff;
}

.cardProducto .cardTitulo,
.cardProducto .cardDescription {
  margin: 0;
  text-transform: uppercase;
}

.cardProducto:hover img,
.cardProducto.hover img {
  zoom: 1;
  filter: alpha(opacity=35);
  -webkit-opacity: 0.35;
  opacity: 0.35;
}

.cardProducto:hover .titleIndex:before,
.cardProducto.hover .titleIndex:before,
.cardProducto:hover .titleIndex:after,
.cardProducto.hover .titleIndex:after,
.cardProducto:hover .titleIndex div:before,
.cardProducto.hover .titleIndex div:before,
.cardProducto:hover .titleIndex div:after,
.cardProducto.hover .titleIndex div:after {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.cardProducto:hover .titleIndex:before,
.cardProducto.hover .titleIndex:before,
.cardProducto:hover .titleIndex:after,
.cardProducto.hover .titleIndex:after {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

.cardProducto:hover figcaption,
.cardProducto.hover figcaption {
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

/* Querys */
@media screen and (max-width: 1000px) {
  .body-index {
    background-size: contain;
  }
  .banner img[alt=banner-query] {
    display: flex;
    align-self: center;
    margin: auto;
    box-sizing: 100vh;
    border-radius: 1em;
    object-fit: scale-down;
    background-size: contain;
  }
  .banner .bannerImg {
    display: none;
  }
  .ImagenesIndex {
    display: flex;
    flex-direction: column;
  }
  .ImagenesIndex .cardProducto {
    margin: auto;
    margin-bottom: 10px;
  }
  .ImagenesIndex .cardProducto .img {
    margin: auto;
    object-fit: fill;
  }
}
/* Personalización de Trabajos personalizados */
/* Carousel de imagenes */
.body_trabajos {
  height: 100%;
  max-height: 100%;
}

.section-trabajosPersonalizados {
  background-color: #1E736C;
}

.section-carusel {
  display: flex;
  padding: 0rem;
  margin: auto;
  background: rgb(34, 193, 195);
  background: linear-gradient(0deg, rgb(34, 193, 195) 0%, rgb(206, 253, 45) 100%);
  height: 100%;
  max-height: 100%;
  min-height: 805px;
  align-items: center;
  justify-content: center;
}
.section-carusel #carouselExampleFade {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 100%;
  align-items: flex-start;
  justify-content: center;
}
.section-carusel #carouselExampleFade .Texto-Trabajos {
  font-size: 24px;
  border: solid;
  border-radius: 10px;
  background-color: #08D5A3;
  text-decoration: none;
  padding-left: 5px;
  width: 90%;
  max-width: 100%;
  margin: auto;
}
.section-carusel #carouselExampleFade .Texto-Trabajos a {
  text-decoration: none;
}
.section-carusel #carouselExampleFade .Texto-Trabajos:hover {
  background-color: #1E8449;
}
.section-carusel #carouselExampleFade .carousel-inner {
  width: 100%;
  max-width: 700px;
  margin: auto;
}
.section-carusel #carouselExampleFade .carousel-inner .carousel-item {
  display: flex;
  max-width: 100%;
  height: 780px;
  width: 100%;
  flex-direction: column;
}
.section-carusel #carouselExampleFade .carousel-inner .carousel-item .label-personalizados {
  font-size: 1.5rem;
  border: groove;
  border-radius: 10px;
  background-color: #58C0B6;
  margin: 5px;
  padding: 10px;
}
.section-carusel #carouselExampleFade .carousel-inner .carousel-item img[alt=imagen-carousel] {
  width: 100%;
  height: 100%;
  margin: 0px;
  border: solid;
}
.section-carusel #carouselExampleFade .carousel-inner .botonesDireccionales {
  align-items: center;
  justify-content: center;
}

/* Query Carrousel */
@media screen and (max-width: 600px) {
  .section-carusel {
    max-width: 100%;
    margin: auto;
  }
  .section-carusel #carouselExampleFade .Texto-Trabajos {
    max-width: 98%;
    margin: auto;
  }
  #carouselExampleFade div {
    width: 400px;
  }
}
.productos_titulo {
  max-width: 700px;
  background-color: #000;
  color: #ffffff;
  font-size: 2.5rem;
  margin-left: 10px;
  width: 90%;
  border: solid;
  border-radius: 50Px;
  margin: auto;
  text-align: center;
  margin-bottom: 10px;
  padding: 3px;
  font-size: 1.6rem;
  margin-top: 10px;
}

#Seccion-productos .titulo-productos {
  font-size: 2em;
  align-self: flex-start;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  border-right: solid;
  border-bottom: solid;
  width: 100%;
  max-width: 90%;
  background-color: #47d753;
  border-radius: 10px;
}
#Seccion-productos .seccion-imagenes {
  display: flex;
  padding: 0px;
  flex-direction: row;
  width: 100%;
  height: 100%;
  width: 10000px;
  max-width: 100%;
}
#Seccion-productos .seccion-imagenes .card {
  display: flex;
  width: 100%;
  border: solid;
  border-radius: 10px;
  margin: auto;
  max-width: 410px;
  height: 900px;
}
#Seccion-productos .seccion-imagenes .card .img-container {
  height: 480px;
  max-width: 100%;
  display: flex;
}
#Seccion-productos .seccion-imagenes .card .img-container .img[alt="Cuadro de madera Mandalorian"] {
  object-fit: contain;
  width: 100%;
}
#Seccion-productos .seccion-imagenes .card .img-container .img[alt="Cuadro Dragon de Game Of Throne"] {
  object-fit: contain;
  width: 100%;
}
#Seccion-productos .seccion-imagenes .card .img-container .img[alt="Mural de League Of Legend"] {
  object-fit: contain;
  width: 100%;
}
#Seccion-productos .seccion-imagenes .card .img-container .img[alt="Termo Batman"] {
  object-fit: contain;
  width: 100%;
}
#Seccion-productos .seccion-imagenes .card .img-container .img[alt="Termo de los Simpsons"] {
  object-fit: contain;
  width: 100%;
}
#Seccion-productos .seccion-imagenes .card .img-container .img[alt="Vaso Térmico Game Of Throne"] {
  object-fit: contain;
  width: 100%;
}
#Seccion-productos .seccion-imagenes .card .img-container .img[alt="Taza Marvel"] {
  object-fit: contain;
  width: 100%;
}
#Seccion-productos .seccion-imagenes .card .img-container .img[alt="Taza This is Fine!"] {
  object-fit: contain;
  width: 100%;
}
#Seccion-productos .seccion-imagenes .card .img-container .img[alt="Taza Rick and Morty"] {
  object-fit: contain;
  width: 100%;
}
#Seccion-productos .seccion-imagenes .card .img-container .img[alt="Mousepad de Dragon Ball"] {
  object-fit: contain;
  width: 100%;
}
#Seccion-productos .seccion-imagenes .card .img-container .img[alt="Remera Marvel"] {
  object-fit: contain;
  width: 100%;
}
#Seccion-productos .seccion-imagenes .card .img-container .img[alt="Buzo half-life Lambda"] {
  object-fit: contain;
  width: 100%;
}
#Seccion-productos .seccion-imagenes .card .card-body {
  display: flex;
  flex-direction: column;
  background-color: #000;
}
#Seccion-productos .seccion-imagenes .card .card-body .card-title {
  font-size: 28px;
  color: aliceblue;
  border-bottom: solid;
  border-left: solid;
  padding-left: 6px;
  margin-bottom: 4px;
}
#Seccion-productos .seccion-imagenes .card .card-body .card-text {
  font-size: 22px;
  color: aliceblue;
}
#Seccion-productos .seccion-imagenes .card .card-body .Tamaño {
  border: solid;
  border-color: aliceblue;
  font-size: 25px;
  color: aliceblue;
  padding: 3px;
  justify-self: start;
  width: 100%;
}
@media screen and (max-width: 1000px) {
  #Seccion-productos .seccion-imagenes {
    flex-direction: column;
    max-width: 98%;
    margin: auto;
    max-height: 100%;
    height: 100%;
  }
  #Seccion-productos .seccion-imagenes .card {
    margin-top: 10px;
  }
}

/* quienes somos */
.bodyQuienesSomos {
  padding: 0px;
  margin: 0px;
}

.section-quienesSomos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  align-content: center;
  background-color: #1E736C;
}
.section-quienesSomos p {
  background-color: #08D5A3;
  align-items: center;
  align-content: center;
  font-size: 2rem;
  flex-basis: 10px;
  font-family: "Chakra Petch", sans-serif;
  font-family: "Permanent Marker", cursive;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 100%;
  height: 100%;
}
.section-quienesSomos .videos-instagram {
  border-top: solid;
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100% !important;
  margin: 7px;
  padding: 7px;
  max-width: 100% !important;
}
.section-quienesSomos .videos-instagram .instagram-media {
  background-color: #08D5A3;
  border-radius: 10px !important;
  width: 100%;
  max-width: 525px;
}

@media screen and (max-width: 1010px) {
  .section-quienesSomos .videos-instagram {
    flex-direction: column;
    margin: auto;
  }
  .section-quienesSomos .videos-instagram .instagram-media {
    align-self: center;
    width: 100%;
    max-width: 100%;
  }
  .section-quienesSomos p {
    font-size: 27.72px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
.precio {
  color: aliceblue;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  padding: 6px;
  --border-size: 3px;
  --border-angle: 0turn;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background-image: conic-gradient(from var(--border-angle), #213, #112 50%, #213), conic-gradient(from var(--border-angle), transparent 20%, #08f, #f03);
  background-size: calc(100% - var(--border-size) * 2) calc(100% - var(--border-size) * 2), cover;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-animation: bg-spin 3s linear infinite;
  animation: bg-spin 3s linear infinite;
}

@-webkit-keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}
@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}
.precio:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}
:root {
  --timing-function: cubic-bezier(0.82, 0.2, 0.42, 1);
}

.navbar-nav {
  list-style: none;
}

.nav-link {
  color: inherit;
  text-decoration: none;
}

body {
  background-color: #000;
  font: 22px sans-serif;
}

.navbar-nav {
  display: flex;
  justify-content: center;
}

.navbar-nav .nav-item {
  margin-right: 70px;
}

.navbar-nav .nav-link {
  position: relative;
  display: block;
  padding: 10px;
  overflow: hidden;
  transition: color 0s 0.25s var(--timing-function);
}

.navbar-nav .nav-link::before,
.navbar-nav .nav-link::after {
  position: absolute;
  left: 0;
  width: 100%;
  max-width: 100%;
  background-color: #58C0B6;
}

.navbar-nav .nav-link::before {
  content: "";
  top: 50%;
  transform: translate(-101%, -50%);
  height: 50%;
  z-index: 1;
  background: #c56937;
  transition: transform 0.5s var(--timing-function);
}

.navbar-nav .nav-link::after {
  content: attr(data-icon);
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 110%;
  color: #a73f49;
  opacity: 0;
  transition: opacity 0s 0.25s var(--timing-function);
}

.navbar-nav .nav-link:hover {
  color: transparent;
}

.navbar-nav .nav-link:hover::before {
  transform: translate(101%, -50%);
}

.navbar-nav .nav-link:hover::after {
  opacity: 1;
}

.navbar-nav[data-animation=to-left] .nav-link::before {
  transform: translate(101%, -50%);
}

.navbar-nav[data-animation=to-left] .nav-link:hover::before {
  transform: translate(-101%, -50%);
}

.navbar-toggler {
  --c: #5be791; /* the border color */
  --b: 10px; /* the border thickness*/
  --g: 5px; /* the gap on hover */
  padding: calc(var(--g) + var(--b));
  --_g: #0000 25%,var(--c) 0;
  background: conic-gradient(from 180deg at top var(--b) right var(--b), var(--_g)) var(--_i, 200%) 0/200% var(--_i, var(--b)) no-repeat, conic-gradient(at bottom var(--b) left var(--b), var(--_g)) 0 var(--_i, 200%)/var(--_i, var(--b)) 200% no-repeat;
  transition: 0.3s, background-position 0.3s 0.3s;
  cursor: pointer;
}

.navbar-toggler:hover {
  --_i: 100%;
  transition: 0.3s, background-size 0.3s 0.3s;
}

.indexDescription {
  --border-width: 3px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Lato, sans-serif;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  background: #222;
  border-radius: var(--border-width);
}
.indexDescription::after {
  position: absolute;
  content: "";
  top: calc(-1 * var(--border-width));
  left: calc(-1 * var(--border-width));
  z-index: -1;
  width: calc(100% + var(--border-width) * 2);
  height: calc(100% + var(--border-width) * 2);
  background: linear-gradient(60deg, hsl(224, 85%, 66%), hsl(269, 85%, 66%), hsl(314, 85%, 66%), hsl(359, 85%, 66%), hsl(44, 85%, 66%), hsl(89, 85%, 66%), hsl(134, 85%, 66%), hsl(179, 85%, 66%));
  background-size: 300% 300%;
  background-position: 0 50%;
  border-radius: calc(2 * var(--border-width));
  animation: moveGradient 4s alternate infinite;
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}
.container-fluid {
  background-color: #1E736C;
  margin: 0px;
  padding: 0px;
}
.container-fluid .collapse .navbar-nav .nav-item {
  display: flex;
  flex-direction: row;
  background-color: #08D5A3;
  font-family: "Chakra Petch", sans-serif;
  text-decoration: none;
  box-sizing: content-box;
  padding: 0;
  margin: 2px 2px;
  border-radius: 0.5rem;
  justify-content: center;
}
.container-fluid .collapse .navbar-nav .nav-item .nav-link {
  align-items: center;
  font-size: 1rem;
}
.container-fluid .navbar-brand {
  display: flex;
  font-family: "Chakra Petch", sans-serif;
  border-radius: 0.5rem;
  background-color: #58C0B6;
  width: 100%;
  max-width: 200px;
  justify-content: center;
  align-items: center;
}
.container-fluid .navbar-brand img[alt=bemo] {
  width: 40px;
  max-width: 100%;
}
.container-fluid .navbar-brand .navar-texto {
  font-size: 100%;
  padding: 0px;
  align-self: center;
  margin: 0px;
}
.container-fluid .navbar-brand .navbar-brand:hover {
  font-weight: 400px;
}
.container-fluid .navbar-brand .menu-index {
  font-size: 1.7rem;
}
.container-fluid .navbar-toggler {
  width: 100%;
  max-width: 95px;
}
.container-fluid .navbar-toggler .span-button {
  width: 100%;
  max-width: 100%;
}
.container-fluid .navbar-toggler .span-button img[alt=pikachu] {
  object-fit: fill;
  width: 100%;
}

.nav-link:hover {
  border-radius: 10Px;
}

.d-flex {
  display: flex;
  margin: auto;
  padding: auto;
  width: 100%;
  max-width: 280px;
}
.d-flex .form-control {
  width: 100%;
  max-width: 100%;
}

/*# sourceMappingURL=Style.css.map */
