@charset "UTF-8";
/* variables */
/* Estilo contacto */
/* Estilo formulario de contacto */
.body-contacto {
  background: rgb(34, 193, 195);
  background: linear-gradient(0deg, rgb(34, 193, 195) 0%, rgb(206, 253, 45) 100%);
}

.seccion-contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(34, 193, 195);
  background: linear-gradient(0deg, rgb(34, 193, 195) 0%, rgb(206, 253, 45) 100%);
}
.seccion-contacto .card-body {
  background: rgb(34, 193, 195);
  background: linear-gradient(0deg, rgb(34, 193, 195) 0%, rgb(206, 253, 45) 100%);
  width: 100%;
  height: 100%;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-bottom: 15px;
  border: solid;
}
.seccion-contacto .card-body h5 {
  font-size: 3rem;
  border-bottom: solid;
}
.seccion-contacto .card-body h6 {
  font-size: 2rem;
}
.seccion-contacto .card-body .card-text {
  font-size: 1.5rem;
}

.section-formulario {
  background: rgb(34, 193, 195);
  background: linear-gradient(0deg, rgb(34, 193, 195) 0%, rgb(206, 253, 45) 100%);
  width: 100%;
  height: 100%;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 15px;
  border: solid;
}
.section-formulario .form-contacto .mb-3 .label-contacto {
  border-bottom: solid;
  margin: 10px;
  display: block;
  font-size: 1.5em;
  font-family: "Chakra Petch", sans-serif;
  font-family: "Permanent Marker", cursive;
}
.section-formulario .form-contacto .mb-3 .label-contacto .form-text {
  font-size: 1em;
}

/* Estilado de las imágenes QR */
.section-Redes, .section-Redes .div_redes .card_contacto {
  background-color: #1E8449;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 0px;
}
.section-Redes h2, .section-Redes .div_redes .card_contacto h2 {
  align-content: flex-start;
  align-self: flex-start;
  font-size: 3rem;
  border: inset;
  border-color: black;
  border-radius: 10px;
  background-color: #58C0B6;
  margin: auto;
  margin-top: 10px;
}
.section-Redes .div_redes, .section-Redes .div_redes .card_contacto .div_redes {
  display: flex;
  align-self: center;
}
.section-Redes .div_redes .card_contacto {
  max-width: 400px;
  margin: 10px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.section-Redes .div_redes .card_contacto .card-img-top-mail {
  margin-bottom: 12px;
}
.section-Redes .div_redes .card_contacto img {
  border-radius: 10px;
  border: solid;
  width: 100%;
  height: 100%;
}
.section-Redes .div_redes .card_contacto .card-body {
  font-size: 1rem;
  color: black;
  width: 100%;
  height: 100%;
}
.section-Redes .div_redes .card_contacto .card-body p {
  margin-top: 12px;
  margin-bottom: 12px;
  width: 100%;
  height: 100%;
}
.section-Redes .div_redes .card_contacto .card-body p a {
  color: white;
  font-size: 1.6rem;
  text-decoration: none;
  padding: 10px;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 600px) {
  .seccion-contacto {
    flex-direction: column;
  }
  .seccion-contacto .card-body {
    max-width: 400px;
    max-height: 100%;
  }
  .section-formulario {
    max-width: 400px;
    max-height: 100%;
  }
  /* Estilado de las imágenes QR */
  .section-Redes, .section-Redes .div_redes .card_contacto {
    flex-direction: column;
    align-items: flex-end;
  }
  .section-Redes .h2_sectionRedes, .section-Redes .div_redes .card_contacto .h2_sectionRedes {
    max-width: 400px;
    max-height: 100%;
  }
  .section-Redes .div_redes, .section-Redes .div_redes .card_contacto .div_redes {
    flex-direction: column;
  }
  .section-Redes .div_redes .card_contacto {
    margin: auto;
  }
}
/* Maquetación footer */
footer {
  background-color: #000;
  padding: 10px;
}

.card-body {
  background-color: #1E8449;
  border-radius: 10px;
}

.card {
  background-color: #000;
}

.boton-footer {
  text-decoration: none;
  color: aliceblue;
}

/* Maquetación Index */
.body-index {
  background-color: #1E736C;
  padding: 0px;
  margin: 0px;
}

/* Estilo imágenes */
.producto {
  max-width: 100%;
  max-height: 100%;
}

img[alt=banner] {
  width: 1200px;
  margin: auto;
  box-sizing: 100vh;
  display: flex;
  border-radius: 1em;
  object-fit: scale-down;
  background-size: contain;
}

img[alt=banner-query] {
  display: none;
  width: 400px;
  align-self: center;
  margin: auto;
  box-sizing: 100vh;
  border-radius: 1em;
  object-fit: scale-down;
  background-size: contain;
}

/* Query banner */
@media screen and (max-width: 1000px) {
  img[alt=banner-query] {
    display: flex;
    align-self: center;
    margin: auto;
    box-sizing: 100vh;
    border-radius: 1em;
    object-fit: scale-down;
    background-size: contain;
  }
  .bannerImg {
    display: none;
  }
}
img[alt=billetera] {
  position: relative;
  width: 287px;
  margin: 10px;
  border-style: solid;
  border-radius: 10%;
  object-fit: cover;
}

img[alt=botella] {
  position: relative;
  width: 287px;
  margin: 10px;
  border-style: solid;
  border-radius: 10%;
}

img[alt=buzo] {
  position: relative;
  width: 255px;
  margin: 10px;
  border-style: solid;
  border-radius: 10%;
}

img[alt=taza] {
  position: relative;
  width: 210px;
  margin: 10px;
  border-style: solid;
  border-radius: 10%;
}

img[alt=mousepad] {
  position: relative;
  width: 700px;
  margin: 10px;
  border-style: solid;
  border-radius: 10%;
}

img[alt=mousepadMini] {
  position: relative;
  width: 300px;
  margin: 10px;
  border-style: solid;
  border-radius: 10%;
}

img[alt=remera] {
  position: relative;
  width: 490px;
  margin: 10px;
  border-style: solid;
  border-radius: 10%;
}

img[alt=vaso] {
  position: relative;
  width: 360px;
  margin: 10px;
  border-style: solid;
  border-radius: 10%;
}

/* Query imágenes */
@media screen and (max-width: 450px) {
  img[alt=billetera] {
    position: relative;
    width: 390px;
    margin: 10px;
    border-style: solid;
    border-radius: 10%;
    object-fit: cover;
  }
  img[alt=botella] {
    position: relative;
    width: 390px;
    margin: 10px;
    border-style: solid;
    border-radius: 10%;
  }
  img[alt=buzo] {
    position: relative;
    width: 390px;
    margin: 10px;
    border-style: solid;
    border-radius: 10%;
  }
  img[alt=taza] {
    position: relative;
    width: 390px;
    margin: 10px;
    border-style: solid;
    border-radius: 10%;
  }
  img[alt=mousepad] {
    width: 390px;
    position: relative;
    margin: 10px;
    border-style: solid;
    border-radius: 10%;
    background-size: contain;
  }
  img[alt=mousepadMini] {
    position: relative;
    width: 390px;
    margin: 10px;
    border-style: solid;
    border-radius: 10%;
  }
  img[alt=remera] {
    position: relative;
    width: 390px;
    margin: 10px;
    border-style: solid;
    border-radius: 10%;
  }
  img[alt=vaso] {
    width: 390px;
    margin: 10px;
    border-style: solid;
    border-radius: 10%;
  }
}
/* Personalización del texto-Index */
.col h1 {
  border: solid;
  border-radius: 10px;
  margin-top: 10px;
  background-color: #08D5A3;
  padding-bottom: 10px;
  padding-left: 10px;
}

.col p {
  font-size: 1.4rem;
  padding-left: 10px;
  background-color: #1E8449;
  display: flex;
  align-content: center;
}

/* Personalización de Trabajos personalizados */
/* Carousel de imagenes */
.body_trabajos {
  height: 100%;
  max-height: 100%;
}

.section-trabajosPersonalizados {
  background-color: #1E736C;
}

.section-carusel {
  display: flex;
  padding: 0rem;
  margin: auto;
  background: rgb(34, 193, 195);
  background: linear-gradient(0deg, rgb(34, 193, 195) 0%, rgb(206, 253, 45) 100%);
  height: 100%;
  max-height: 100%;
  min-height: 805px;
  align-items: center;
  justify-content: center;
}
.section-carusel #carouselExampleFade {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 100%;
  align-items: flex-start;
  justify-content: center;
}
.section-carusel #carouselExampleFade .Texto-Trabajos {
  font-size: 24px;
  border: solid;
  border-radius: 10px;
  background-color: #08D5A3;
  text-decoration: none;
  padding-left: 5px;
  width: 90%;
  max-width: 100%;
  margin: auto;
}
.section-carusel #carouselExampleFade .Texto-Trabajos a {
  text-decoration: none;
}
.section-carusel #carouselExampleFade .Texto-Trabajos:hover {
  background-color: #1E8449;
}
.section-carusel #carouselExampleFade .carousel-inner {
  width: 100%;
  max-width: 700px;
  margin: auto;
}
.section-carusel #carouselExampleFade .carousel-inner .carousel-item {
  display: flex;
  max-width: 100%;
  height: 780px;
  width: 100%;
  flex-direction: column;
}
.section-carusel #carouselExampleFade .carousel-inner .carousel-item .label-personalizados {
  font-size: 1.5rem;
  border: groove;
  border-radius: 10px;
  background-color: #58C0B6;
  margin: 5px;
  padding: 10px;
}
.section-carusel #carouselExampleFade .carousel-inner .carousel-item img[alt=imagen-carousel] {
  width: 100%;
  height: 100%;
  margin: 0px;
  border: solid;
}
.section-carusel #carouselExampleFade .carousel-inner .botonesDireccionales {
  align-items: center;
  justify-content: center;
}

/* Query Carrousel */
.p_carrusel--titulo {
  font-size: 2.5rem;
  margin-left: 10px;
  width: 90%;
}

#Seccion-productos .titulo-productos {
  font-size: 2em;
  align-self: flex-start;
  margin-left: 10px;
  margin-right: 10px;
  border-right: solid;
  border-bottom: solid;
  width: 100%;
  max-width: 90%;
}
#Seccion-productos .seccion-imagenes {
  display: flex;
  padding: 0px;
  flex-direction: row;
  width: 100%;
  height: 100%;
  width: 10000px;
  max-width: 100%;
}
#Seccion-productos .seccion-imagenes .card {
  display: flex;
  width: 450px;
  border: solid;
  border-radius: 10px;
  margin: auto;
  max-width: 100%;
}
#Seccion-productos .seccion-imagenes .card .img-container {
  height: 480px;
  max-width: 100%;
  display: flex;
}
#Seccion-productos .seccion-imagenes .card .img-container .img[alt="Cuadro de madera Mandalorian"] {
  object-fit: contain;
  width: 100%;
}
#Seccion-productos .seccion-imagenes .card .img-container .img[alt="Cuadro Dragon de Game Of Throne"] {
  object-fit: contain;
  width: 100%;
}
#Seccion-productos .seccion-imagenes .card .img-container .img[alt="Mural de League Of Legend"] {
  object-fit: contain;
  width: 100%;
}
#Seccion-productos .seccion-imagenes .card .img-container .img[alt="Termo Batman"] {
  object-fit: contain;
  width: 100%;
}
#Seccion-productos .seccion-imagenes .card .img-container .img[alt="Termo de los Simpsons"] {
  object-fit: contain;
  width: 100%;
}
#Seccion-productos .seccion-imagenes .card .img-container .img[alt="Vaso Térmico Game Of Throne"] {
  object-fit: contain;
  width: 100%;
}
#Seccion-productos .seccion-imagenes .card .img-container .img[alt="Taza Marvel"] {
  object-fit: contain;
  width: 100%;
}
#Seccion-productos .seccion-imagenes .card .img-container .img[alt="Taza This is Fine!"] {
  object-fit: contain;
  width: 100%;
}
#Seccion-productos .seccion-imagenes .card .img-container .img[alt="Taza Rick and Morty"] {
  object-fit: contain;
  width: 100%;
}
#Seccion-productos .seccion-imagenes .card .img-container .img[alt="Mousepad de Dragon Ball"] {
  object-fit: contain;
  width: 100%;
}
#Seccion-productos .seccion-imagenes .card .img-container .img[alt="Remera Marvel"] {
  object-fit: contain;
  width: 100%;
}
#Seccion-productos .seccion-imagenes .card .img-container .img[alt="Buzo half-life Lambda"] {
  object-fit: contain;
  width: 100%;
}
#Seccion-productos .seccion-imagenes .card .card-body {
  display: flex;
  flex-direction: column;
  background-color: #000;
}
#Seccion-productos .seccion-imagenes .card .card-body .card-title {
  font-size: 28px;
  color: aliceblue;
  border-bottom: solid;
  border-left: solid;
  padding-left: 6px;
  margin-bottom: 4px;
}
#Seccion-productos .seccion-imagenes .card .card-body .card-text {
  font-size: 22px;
  color: aliceblue;
}
#Seccion-productos .seccion-imagenes .card .card-body .Tamaño {
  border: solid;
  border-color: aliceblue;
  font-size: 25px;
  color: aliceblue;
  padding: 3px;
  justify-self: start;
  width: 100%;
}
@media screen and (max-width: 1000px) {
  #Seccion-productos .seccion-imagenes {
    flex-direction: column;
    max-width: 98%;
    margin: auto;
    max-height: 100%;
    height: 100%;
  }
  #Seccion-productos .seccion-imagenes .card {
    margin-top: 10px;
  }
}

/* quienes somos */
.bodyQuienesSomos {
  padding: 0px;
  margin: 0px;
}

.section-quienesSomos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  align-content: center;
  background-color: #1E736C;
}
.section-quienesSomos p {
  background-color: #08D5A3;
  align-items: center;
  align-content: center;
  font-size: 2rem;
  flex-basis: 10px;
  font-family: "Chakra Petch", sans-serif;
  font-family: "Permanent Marker", cursive;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 100%;
  height: 100%;
}
.section-quienesSomos .videos-instagram {
  border-top: solid;
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100% !important;
  margin: 7px;
  padding: 7px;
  max-width: 100% !important;
}
.section-quienesSomos .videos-instagram .instagram-media {
  background-color: #08D5A3;
  border-radius: 10px !important;
  width: 100%;
  max-width: 525px;
}

@media screen and (max-width: 1010px) {
  .section-quienesSomos .videos-instagram {
    flex-direction: column;
    margin: auto;
  }
  .section-quienesSomos .videos-instagram .instagram-media {
    align-self: center;
    width: 100%;
    max-width: 100%;
  }
  .section-quienesSomos p {
    font-size: 27.72px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
.precio {
  color: aliceblue;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  padding: 6px;
  --border-size: 3px;
  --border-angle: 0turn;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background-image: conic-gradient(from var(--border-angle), #213, #112 50%, #213), conic-gradient(from var(--border-angle), transparent 20%, #08f, #f03);
  background-size: calc(100% - var(--border-size) * 2) calc(100% - var(--border-size) * 2), cover;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-animation: bg-spin 3s linear infinite;
  animation: bg-spin 3s linear infinite;
}

@-webkit-keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}
@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}
.precio:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}
:root {
  --timing-function: cubic-bezier(0.82, 0.2, 0.42, 1);
}

.navbar-nav {
  list-style: none;
}

.nav-link {
  color: inherit;
  text-decoration: none;
}

body {
  background-color: #000;
  font: 22px sans-serif;
}

.navbar-nav {
  display: flex;
  justify-content: center;
}

.navbar-nav .nav-item {
  margin-right: 70px;
}

.navbar-nav .nav-link {
  position: relative;
  display: block;
  padding: 10px;
  overflow: hidden;
  transition: color 0s 0.25s var(--timing-function);
}

.navbar-nav .nav-link::before,
.navbar-nav .nav-link::after {
  position: absolute;
  left: 0;
  width: 100%;
  background-color: #58C0B6;
}

.navbar-nav .nav-link::before {
  content: "";
  top: 50%;
  transform: translate(-101%, -50%);
  height: 50%;
  z-index: 1;
  background: #c56937;
  transition: transform 0.5s var(--timing-function);
}

.navbar-nav .nav-link::after {
  content: attr(data-icon);
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 110%;
  color: #a73f49;
  opacity: 0;
  transition: opacity 0s 0.25s var(--timing-function);
}

.navbar-nav .nav-link:hover {
  color: transparent;
}

.navbar-nav .nav-link:hover::before {
  transform: translate(101%, -50%);
}

.navbar-nav .nav-link:hover::after {
  opacity: 1;
}

.navbar-nav[data-animation=to-left] .nav-link::before {
  transform: translate(101%, -50%);
}

.navbar-nav[data-animation=to-left] .nav-link:hover::before {
  transform: translate(-101%, -50%);
}

.container-fluid {
  background-color: #1E736C;
  margin: 0px;
  padding: 0px;
}
.container-fluid .collapse .navbar-nav .nav-item {
  display: flex;
  flex-direction: row;
  background-color: #08D5A3;
  font-family: "Chakra Petch", sans-serif;
  text-decoration: none;
  box-sizing: content-box;
  padding: 0;
  margin: 2px 2px;
  border-radius: 0.5rem;
}
.container-fluid .collapse .navbar-nav .nav-item .nav-link {
  align-items: center;
  font-size: 1rem;
}
.container-fluid .navbar-brand {
  display: flex;
  font-family: "Chakra Petch", sans-serif;
  border-radius: 0.5rem;
  background-color: #58C0B6;
  width: 100%;
  max-width: 200px;
  justify-content: center;
  align-items: center;
}
.container-fluid .navbar-brand img[alt=bemo] {
  width: 40px;
  max-width: 100%;
}
.container-fluid .navbar-brand .navar-texto {
  font-size: 100%;
  padding: 0px;
  align-self: center;
  margin: 0px;
}
.container-fluid .navbar-brand .navbar-brand:hover {
  font-weight: 400px;
}
.container-fluid .navbar-brand .menu-index {
  font-size: 1.7rem;
}

.nav-link:hover {
  background-image: url(https://th.bing.com/th/id/R.edc28aabeed4c08e4e20fbf4f48b4faf?rik=P015CtDHC1ZsuQ&riu=http%3a%2f%2forig14.deviantart.net%2f1d04%2ff%2f2014%2f211%2f5%2f4%2fmario_walking_by_jesusache-d7t0gft.gif&ehk=EmJwcHWzIvdlfiOjR6N9PG8Y8rJslB2O1UcMUlGixEg%3d&risl=&pid=ImgRaw&r=0);
  background-image: 100%;
  font-weight: bold;
  border-radius: 10Px;
}

.d-flex {
  margin: auto;
  padding: auto;
}

/*# sourceMappingURL=Style.css.map */
