@use 'variables';

/* Maquetación Index */

.body-index {
    background-color: variables.$color2;
    padding: 0px;
    margin: 0px;
}

/* Estilo imágenes */
.producto {
    max-width: 100%;
    max-height: 100%;
}

img[alt=banner] {
    width: 1200px;
    margin: auto;
    box-sizing: 100vh;
    display: flex;
    border-radius: 1em;
    object-fit: scale-down;
    background-size: contain
}

img[alt=banner-query] {
    display: none;
    width: 400px;
    align-self: center;
    margin: auto;
    box-sizing: 100vh;
    border-radius: 1em;
    object-fit: scale-down;
    background-size: contain;
}

/* Query banner */

@media screen and (max-width: 1000px) {
    img[alt=banner-query] {
        display: flex;
        align-self: center;
        margin: auto;
        box-sizing: 100vh;
        border-radius: 1em;
        object-fit: scale-down;
        background-size: contain;
    }

    .bannerImg {
        display: none;
    }
}

// estilo imágenes


.ImagenesIndex{
    display: flex;
    flex-direction: row;
}

.cardProducto {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  background-color: #000000;
}
.cardProducto *,
.cardProducto *:before,
.cardProducto *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.55s ease;
  transition: all 0.55s ease;
}
.cardProducto img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
  opacity: 0.9;
}
.cardProducto .title {
  position: absolute;
  top: 58%;
  left: 25px;
  padding: 5px 10px 10px;
}
.cardProducto .title:before,
.cardProducto .title:after {
  height: 2px;
  width: 400px;
  position: absolute;
  content: '';
  background-color: #ffffff;
}
.cardProducto .title:before {
  top: 0;
  left: 10px;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
.cardProducto .title:after {
  bottom: 0;
  right: 10px;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
.cardProducto .title div:before,
.cardProducto .title div:after {
  width: 2px;
  height: 300px;
  position: absolute;
  content: '';
  background-color: #ffffff;
}
.cardProducto .title div:before {
  top: 10px;
  right: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
.cardProducto .title div:after {
  bottom: 10px;
  left: 0;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
.cardProducto .CardTitulo,
.cardProducto h4 {
  margin: 0;
  text-transform: uppercase;
}
.cardProducto .cardTitulo {
  font-weight: 400;
}
.cardProducto h4 {
  display: block;
  font-weight: 700;
  background-color: #ffffff;
  padding: 5px 10px;
  color: #000000;
}
.cardProducto figcaption {
  position: absolute;
  bottom: 42%;
  left: 25px;
  text-align: left;
  opacity: 0;
  padding: 5px 60px 5px 10px;
  font-size: 0.8em;
  font-weight: 500;
  letter-spacing: 1.5px;
}
.cardProducto figcaption p {
  margin: 0;
}
.cardProducto a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.cardProducto:hover img,
.cardProducto.hover img {
  zoom: 1;
  filter: alpha(opacity=35);
  -webkit-opacity: 0.35;
  opacity: 0.35;
}
.cardProducto:hover .title:before,
.cardProducto.hover .title:before,
.cardProducto:hover .title:after,
.cardProducto.hover .title:after,
.cardProducto:hover .title div:before,
.cardProducto.hover .title div:before,
.cardProducto .title div:after,
.cardProducto .title div:after {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
.cardProducto .title:before,
.cardProducto .title:before,
.cardProducto .title:after,
.cardProducto .title:after {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}
.cardProducto:hover figcaption,
figure.snip1477.hover figcaption {
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}