@use 'variables';
@use 'mixin';

.container-fluid {
    background-color: variables.$color2;
    margin: 0px;
    padding: 0px;

    .collapse {
        .navbar-nav {
            .nav-item {
                display: flex;
                flex-direction: row;
                background-color: #08D5A3;
                font-family: 'Chakra Petch', sans-serif;
                text-decoration: none;
                // font-size: 1.5rem;
                box-sizing: content-box;
                padding: 0;
                margin: 2px 2px;
                border-radius: 0.5rem;
                justify-content: center;

                .nav-link {
                    align-items: center;
                    font-size: 1rem
                }
            }
        }
    }

    .navbar-brand {
        display: flex;
        font-family: 'Chakra Petch', sans-serif;
        border-radius: 0.5rem;
        background-color: variables.$color3;
        width: 100%;
        max-width: 200px;
        justify-content: center;
        align-items: center;

        img[alt="bemo"] {
            width: 40px;
            max-width: 100%;
        }

        .navar-texto {
            font-size: 100%;
            padding: 0px;
            align-self: center;
            margin: 0px;
        }

        .navbar-brand:hover {
            font-weight: 400px;
        }

        .navbar-brand:hover {}


        .menu-index {
            font-size: 1.7rem;

        }
    }

    .navbar-toggler {

        width: 100%;
        max-width: 130px;

        .span-button {
            width: 100%;
            max-width: 100%;

            img[alt="pikachu"] {
                object-fit: fill;
                width: 100%;
            }
        }
    }
}

.nav-link:hover {
    border-radius: 10Px;
}

.d-flex {
    display: flex;
    margin: auto;
    padding: auto;
    width: 100%;
    max-width: 280px;
    .form-control{
        width: 100%;
        max-width: 100%;
    }
}

