@use 'variables';
@use 'mixin';

// Estilos productos



.seccion-imagenes{
    display: flex;
    padding: 0px;
    margin: 10px;

    .card{
        padding: 10px;
    margin: 10px;

        .img{

        }
        .card-body{
            .card-title{

            }

            .card-text{

            }
            .a{

            }
        }
        }
    }