@use 'variables';
@use 'mixin';

// Estilos productos

.p_carrusel--titulo {
    font-size: 2.5rem;
    margin-left: 10px;
    width: calc(100%)-10;
}

#Seccion-productos {

    .titulo-productos {
        font-size: 2em;
        align-self: flex-start;
        margin-left: 10px;
        margin-right: 10px;
        border-right: solid;
        border-bottom: solid;
        width: 100%;
        max-width: calc(100%)-10;
    }

    .seccion-imagenes {
        display: flex;
        padding: 0px;
        flex-direction: row;
        @include mixin.Bordes;
        width: 10000px;
        max-width: 100%;


        .card {
            display: flex;
            width: 450px;
            border: solid;
            border-radius: 10px;
            margin: auto;
            max-width: 100%;

            .img-container {
                height: 480px;
                max-width: 100%;
                display: flex;


                .img[alt="Cuadro de madera Mandalorian"] {

                    @include mixin.ImagenProducto;

                }

                .img[alt="Cuadro Dragon de Game Of Throne"] {
                    @include mixin.ImagenProducto;

                }

                .img[alt="Mural de League Of Legend"] {
                    @include mixin.ImagenProducto;

                }

                .img[alt="Termo Batman"] {
                    @include mixin.ImagenProducto;

                }

                .img[alt="Termo de los Simpsons"] {
                    @include mixin.ImagenProducto;

                }

                .img[alt="Vaso Térmico Game Of Throne"] {
                    @include mixin.ImagenProducto;

                }

                .img[alt="Taza Marvel"] {
                    @include mixin.ImagenProducto;

                }

                .img[alt="Taza This is Fine!"] {
                    @include mixin.ImagenProducto;

                }

                .img[alt="Taza Rick and Morty"] {
                    @include mixin.ImagenProducto;

                }

                .img[alt="Mousepad de Dragon Ball"] {
                    @include mixin.ImagenProducto;


                }

                .img[alt="Remera Marvel"] {
                    @include mixin.ImagenProducto;

                }

                .img[alt="Buzo half-life Lambda"] {
                    @include mixin.ImagenProducto;

                }

            }

            .card-body {

                display: flex;
                flex-direction: column;
                background-color: #000;

                .card-title {
                    font-size: 28px;
                    color: aliceblue;
                    border-bottom: solid;
                    border-left: solid;
                    padding-left: 6px;
                    margin-bottom: 4px;
                }

                .card-text {
                    font-size: 22px;
                    color: aliceblue;
                }

                .Tamaño {
                    border: solid;
                    border-color: aliceblue;
                    font-size: 25px;
                    color: aliceblue;
                    padding: 3px;
                    justify-self: start;
                    width: 100%;

                }
            }

        }
    }

    @media screen and (max-width: 1000px) {
        .seccion-imagenes {
            flex-direction: column;
            max-width: calc(100%)-2;
            margin: auto;
            max-height: 100%;
            height: 100%;

            .card {
                margin-top: 10px;
            }
        }
    }

}