@use 'mixin';
@use 'variables';

/* quienes somos */

.bodyQuienesSomos {
	padding: 0px;
	margin: 0px;
}

.section-quienesSomos {
	display: flex;
	flex-direction: column;
	align-items: center;
	@include mixin.Bordes;
	align-content: center;
	background-color: variables.$color2;

	p {
		background-color: variables.$color4;
		align-items: center;
		align-content: center;
		font-size: 2rem;
		flex-basis: 10px;
		font-family: 'Chakra Petch', sans-serif;
		font-family: 'Permanent Marker', cursive;
		align-items: center;
		justify-content: center;
		padding: 10px;
		@include mixin.Bordes;
	}

	.videos-instagram{
		border-top: solid;
		padding-top: 15px;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		width: 100% !important;
		margin: 7px;
		padding: 7px;
		max-width: 100% !important;

		.instagram-media {
			background-color: variables.$color4;
			border-radius: 10px !important;
			width: 100%;
			max-width: 525px;
		}
	}
}

@media screen and (max-width: 1010px) {
	.section-quienesSomos  {

		.videos-instagram{
			flex-direction: column;
			margin: auto;
			.instagram-media{
				align-self: center;
				width: 100%;
				max-width: 100%;
			}

		}
	}

	.section-quienesSomos p {
		font-size: 27.72px;
		margin-left: 10px;
		margin-right: 10px;
		margin-top: 0px;
		margin-bottom: 0px;
	}
}