@use 'variables';
@use 'mixin';

/* Personalización de Trabajos personalizados */
/* Carousel de imagenes */


.section-trabajosPersonalizados {
    background-color: variables.$color2;
}

.section-carusel {
    display: flex;
    background-color: variables.$color2;
    padding: 0rem;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.carousel-inner {
    max-width: 400px;
    align-content: center;
    margin: auto;
    margin-top: 0Px;
}

.carousel {
    width: 600px;
    margin: auto;
    padding-bottom: 0px;
}

.carousel-item {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
}


img[alt=imagen-carousel] {
    width: 100px;
    margin: 0px;
    border: solid;
}

.label-personalizados {
    margin-bottom: 10px;
    font-size: 1.5rem;
    border: groove;
    background-color: variables.$color3;
}

.imagen-carousel .img2 {
    width: 10px;
}

/* Query Carrousel */

@media screen and (max-width: 600px) {
    .section-carusel {
        max-width: 410px;
        margin: auto;
        align-items: center;
        align-content: center;
    }

    #carouselExampleFade div {
        width: 400px;
        align-items: center;
        align-items: center;
    }

    .footer {
        align-items: flex-end;
        align-content: flex-end;
    }
}

.Texto-Trabajos {
    font-size: 24px;
    border: solid;
    border-radius: 10px;
    background-color: variables.$color4;
    text-decoration: none;
    padding-left: 5px;
}

.Texto-Trabajos a {
    text-decoration: none;
}

.Texto-Trabajos:hover {
    background-color: variables.$color1;

}

/* Productos flex */

.section-quienesSomos {
    display: flex;
    flex-direction: column;
    align-content: center;
    @include mixin.Bordes;
    background-color: variables.$color4;
}

.section-quienesSomos p {
    background-color: variables.$color4;
    align-items: center;
    align-content: center;
    flex: grow 1;
    font-size: 2rem;
    flex-basis: 10px;
    font-family: 'Chakra Petch', sans-serif;
    font-family: 'Permanent Marker', cursive;

}

.section-quienesSomos .video {
    align-items: center;
    align-content: center;
    background-color: variables.$color4;
    align-self: center;
    width: 100rem;
    border-radius: 20px;
    margin-bottom: 10px;
}

@media screen and (min-width: 400px) {
    .section-quienesSomos video {
        max-width: 400px;
        order: 1;
        margin-top: 0px;
    }

    .section-quienesSomos p {
        font-size: 27.72px;
        order: 2;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
}